.md-example {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem 0;

    > div {
        margin-left: 1.5rem;
    }
}

.md-example-header {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}

.md-example-title {
    margin: 0.5rem 0 0;
    font-size: 1rem;
    font-weight: bold;
}

.md-example-input,
.md-example-output {
    margin: 0;
    font-size: 1rem;
}
